# Gradle
.gradle/
**/build/
!src/**/build/

# Local config
local.properties

# Logs
*.log

# Android Studio / IntelliJ
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Artifacts
*.aab
*.apk
output-metadata.json
output.json

# Keystores
*.jks
*.keystore

# Google services
google-services.json

# Profiling
*.hprof

# OS cruft
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/

# Android patch
gen-external-apklibs
